.contenedor {
    margin-top: 150px;
    padding: 10px,10px,10px,10px,;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 40px 1px;
    grid-auto-flow: row;
    grid-template-areas:
    "uno uno uno"
    "dos dos dos"
    "tres tres tres";
    width: 90%;
    height: 100%;
    .uno {
    grid-area: uno;
    display: inline-block;
    text-align: start;
    margin-left: 10%;
}

.uno img{
    width: 200px;
    float: left;
    margin-right: 10px;
}

.dos{
    grid-area: dos;
    display: inline-block;
    text-align: start;
    margin-left: 10%;
}

.dos img{
    width: 200px;
    float: right;
    margin-right: 10px;
}

.tres {
    grid-area: tres;
    display: inline-block;
    text-align: start;
    margin-left: 10%;
}

.tres img{
    width: 200px;
    float: left;
    margin-right: 10px;
}

}